# ===========================
# Backend
# ===========================
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# ===========================
# Frontend
# ===========================
frontend/node_modules/
frontend/dist/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db





postgresql://users:5eY4WfZuAtBBdXVwtaE6Hsh1RPmSO7j6@dpg-d95j5q6q1p3s73d3lrig-a.oregon-postgres.render.com/data_analysis_40hm

https://data-analysis-app-vhyf.onrender.com


https://data-analysis-app-seven.vercel.app/